$white: #fff;
$gray: #f9fafc;
$slate: #edeef2;
$plum: #260031;
$pink: #af0075;

$app_background: $gray;
$strenght_bar: $slate;
$font_color: $plum;
$toolbar_background: $white;

$shadow: 0px 0px 5px 1px rgba($plum,.05);