.strenght-bar {
  $size: 10px;
  margin-left: 20px;

  &__tinted-field {
    width: 100px;
    height: $size;
    background-color: $strenght_bar;
    border-radius: $size;
    position: relative;
    overflow: hidden;

    &--tinted {
      background-color: $pink;
      position: absolute;
      height: $size;
      border-radius: $size;
    }
  }
}
