.strenght {
  $size: 10px;
  margin-left: 20px;

  &__bar {
    width: 150px;
    height: $size;
    margin-right: 20px;
    background-color: $strenght_bar;
    border-radius: $size;
    position: relative;
    overflow: hidden;

    &--tinted {
      background-color: $pink;
      position: absolute;
      height: $size;
      border-radius: $size;
    }
  }

  &__text {
    margin-right: 10px;

    &--strong {
      font-weight: 600;
    }
  }
}
