@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

* {
  font-family: 'Work Sans', sans-serif;
  color: #260031;
}

.App{
  background-color: #f9fafc;
}

.AppContent{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}