@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

* {
  font-family: 'Work Sans', sans-serif;
}

.App{
  background-color: rgba(240, 239, 239, 0.938);
}

.AppContent{
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}