.dialog {
  @include centralize;
  padding: 40px;

  &__monster {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 230px;
    height: 230px;

    &--add {
      background-image: url("../../../assets/imgMonster2.jpg");
    }

    &--edit {
      background-image: url("../../../assets/imgMonster.jpg");
    }
  }

  &__form {
    @include centralize;

    &-element {
      padding-bottom: 15px;
    }
  }
}
