.monster-list {
  margin: 40px 0;

  &__table-profil-cell{
    display: flex;
    flex-direction: column;
    width: 40vw;
  }

  &__table-action-cell{
    display: flex;
    width: 20vw
  }
  
}

.monster-metric {
  padding-left: 20px;
  display: flex;
  flex-direction: column;

  &__monster_name{
    font-weight: 600;
  }

  &__monster_age{
    font-size: 12px;
    font-weight: 200;
  }
}


.btn-actions-single-monster{
  display: flex;
  justify-content: space-around;
}