.monster-list {
  margin: 40px 0;
   

  &__table-profil-cell{
    display: flex;
    flex-direction: column;
    width: 40vw;
  }

  &__table-action-cell{
    display: flex;
    width: 20vw
  }

  &__cell-inline{
    display: flex;
  }
  
}

.monster-metric {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  color: $font_color;

  &--name{
    font-weight: 600;
  }

  &--age{
    font-size: 12px;
    font-weight: 200;
  }
}
.monster-properties{
  color: $font_color;
  display: flex;
  justify-content: center;
  align-items: center;

  &--strong {
    font-weight: 600;
  }

  &--width{
    padding: 20px;
  }
}

.btn-actions-single-monster{
  display: flex;
  justify-content: space-around;
}