.monsterCell {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.monsterCellAction{
display: flex;
width: 20vw;}

.monsterCellActionBtn{
  display: flex;
}

.separate{
  padding: 10px;
}

.data{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.name{
    font-weight: 600;
}

.age{
    font-size: 12px;
    font-weight: 200;
}

.monsterProfile {
  display: flex;
  align-items: center;
}

.tableBody {
  display: flex;
}

.monsterList {
    margin: 40px 0;
}



  .dialogImage,
  .dialogImageCreate{
     
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 230px;
    height: 230px;
  }

  .dialogImageCreate{
    // background-image: url('../../assets/imgMonster2.jpg');
  }

  .dialogImage{
    // background-image: url('../../assets/imgMonster.jpg');
  }

  .dialogContent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
  }

