@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

.monsterCell {
  display: flex;
  flex-direction: column;
  width: 40vw;
}

.monsterCellAction{
display: flex;
width: 20vw;}

.monsterCellActionBtn{
  display: flex;
}

.separate{
  padding: 10px;
}

.data{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.name{
    font-weight: 600;
}

.age{
    font-size: 12px;
    font-weight: 200;
}

.monsterProfile {
  display: flex;
  align-items: center;
}

.tableBody {
  display: flex;
}


