.monsterCell{
    display: flex;
    flex-direction: column;
}

.monsterCell{
    width: 50vw;
}

.tableBody{
display: flex;
width: 60vw
}

.monsterList{
    display: flex;   
    justify-content: center;
    align-items: center;
}