.monsterCell {
  display: flex;
  flex-direction: column;
  width: 50vw;
}

.data{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
}

.name{
    font-weight: 600;
}

.age{
    font-size: 12px;
    font-weight: 200;
}

.monsterProfile {
  display: flex;
  align-items: center;
}

.tableBody {
  display: flex;
  width: 60vw;
}

.monsterList {
    margin: 40px 0;
}

